@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
body{
  font-family: "Roboto",sans-serif;
  background-color: black;
}
#Navlink:hover{
  color: #9D1EFA;
  transition: 2s;
}